<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
    <title>
        {% block head_title %}Banking System{% endblock %}
    </title>
    <style>
        footer {
            position: fixed !important;
            bottom: 0 !important;
            width: 100%;
        }
    </style>
</head>
<body class="bg-indigo-600">
    {% include 'navbar.html' %}
    {% block body%}
        <div class="lg:container lg:mx-auto" id="main">
            {% include 'messages.html' %}
            {% block content %}
            {% endblock %}
        </div>
        {% include 'footer.html' %}
    {% endblock %}
</body>
</html>